
.body {
    margin: 20px;
}


.head {
    display: nones;
}

.navbar {
    display: flex;
    overflow: hidden;
    padding-top: 50px;
    background-color: #FFF;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.logo {

}
    

.name {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 5px;
    padding: 20px 0px 20px 20px;
}

.name-2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-top: 4.5px;
    padding: 20px 20px 20px 0px;
}

.web-product {
    display: flex;
    padding-top: 240px;
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 200;  
}

.web-box {
    background-color: lavender;
    margin: 0px 10px 0px 25px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;    
}

.p-box {
    background-color: lavender;
    padding:10px;
    border-radius: 20px;
}

.date {
    margin: 0 0 30px 20px;
    font-size: 40px;
}

.title {
    margin-left: 25px;
    font-size: 100px;
}

.c-img {
    border-radius: 20px;
}